{# src/Scheduler/SchBundle/Resources/views/Page/about.html.twig #}
{% extends 'SchedulerBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
  <header>
    <h1>About us</h1>
  </header>
  <article>

    <p>Sportac.us is an online sports resource scheduler. It is designed
      to help our users schedule games, practices, field maintenance,
      volunteers, referees and more! It can even automatically schedule
      resources and assign people as needed, if availability and conflict
      information is provided acturately.</p>

    <p>We hope you can use Sportac.us to get your resources scheduled so
      that you can spend more time playing your favorite sport!</p>

  </article>
{% endblock %}
