{% extends 'SchedulerBundle::layout.html.twig' %}

{% block title %}Help::Schedule{% endblock %}

{% block body %}
  <p><a href="{{ path('help') }}">Help</a> -> Schedule</p>
  <header>
    <h1>Working with the Schedule</h1>
  </header>
  <article>
    <p>
      <iframe width="640" height="480" src="http://www.youtube.com/embed/n6bumq7ZU3s" frameborder="0"
              allowfullscreen></iframe>
    </p>

    <p>This video shows how to search the schedule for various date ranges, officiais, locations, regions, divisions, or
      teams.
      It also talks about printing those searches.</p>

  </article>
{% endblock %}
