{% extends 'SchedulerBundle::layout.html.twig' %}

{% block title %}Help{% endblock %}

{% block body %}
  <header>
    <h1>Help</h1>
  </header>
  <article>
    <p>The help documentation is still a work in progress. Below is some help topics. If you still need help, please use
      the contact link at the top of the page.</p>

    Help topics:
    <ul>
      <li><a href='help/schedule'>Working with the schedule</a></li>
      <li><a href='help/register'>How to register for an account</a></li>
      <li><a href='help/getassigned'>How to Signup to Referee a Game</a></li>
      <li><a href='help/text'>Text message commands</a></li>
    </ul>

  </article>
{% endblock %}
