{% extends 'SchedulerBundle::layout.html.twig' %}

{% block title %}Help::Get Assigned{% endblock %}

{% block body %}
  <p><a href="{{ path('help') }}">Help</a> -> Get Assigned</p>
  <header>
    <h1>How to Signup to Referee a Game</h1>
  </header>
  <article>
    <p>
      <iframe width="640" height="480" src="http://www.youtube.com/embed/XrL8gP5Y3rA" frameborder="0"
              allowfullscreen></iframe>
    </p>

    <p>This video shows how to sign up to referee a game. (Note that referee permissions are required for this
      function.)</p>

  </article>
{% endblock %}
