{% extends 'SchedulerBundle::layout.html.twig' %}

{% block title %}Help::Register{% endblock %}

{% block body %}
  <p><a href="{{ path('help') }}">Help</a> -> Register</p>
  <header>
    <h1>How to Register</h1>
  </header>
  <article>
    <p>
      <iframe width="640" height="480" src="http://www.youtube.com/embed/J9mDBjWpBnY" frameborder="0"
              allowfullscreen></iframe>
    </p>

    <p>This video shows how to register for a new account.</p>

  </article>
{% endblock %}
