{# src/Scheduler/SchBundle/Resources/views/Page/index.html.twig #}
{% extends 'SchedulerBundle::layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Welcome!</h1>

<p>Welcome to Sportac.us (pronounced "sportacus"; similar to Spartacus), the referee scheduler.</p>

<p>To see a game schedule, click "Schedule" above (no login required). To see a more
detailed schedule (typically for referees) click "Ref Schedule"
above (no login required).</p>

<p>If you are a referee, use the link above to login at sign up for
games.</p>

<p>If you do not have an account and want one, please use the
register link at the top right.</p>

<p><strong>Click on the Help link to get more help and watch how-to
videos.</strong></p>

<p>Please use the contact page (at the top of the page) if you need help
or have comments. Thanks!</p>

<p>Notice: This website is still under construction. If you would like to help
develop it, please contact us.</p>

<h1>About us</h1>

<p>Our vision is for Sportac.us to be an online sports resource
scheduler.  It will be designed
to help our users schedule games, practices, field maintenance,
volunteers, referees and more!  Perhaps even automatically schedule
resources and assign people as needed, if availability and conflict
information is provided accurately.</p>

<p>Write now it is a referee schedule system.
<ul>
<li>It detects conflicts as schedules are imported or changed.</li>
<li>It sends reminder emails and texts to users for games.</li>
<li>It also sends alerts when a game is moved or changed. </li>
<li>It supports multiple region play. </li>
<li>It has somewhat configurable referee positions.  </li>
<li>It automatically calculates referee points and allows referees to assign themselves to teams.</li>
</ul>
</p>
<p>Sportac.us is provided as a free service for AYSO Area 5C and
surrounding areas.</p>

<p>Sportac.us was originally written by John Price with ideas and
contributions from Art Hundiak (author of zAYSO).</p>

{% endblock %}
