/app/config/parameters.yml

/app/SymfonyRequirements.php
/app/check.php
/app/phpunit.xml
/app/bootstrap.*
/app/logs/*

/vendor/
/vendor.zip
/var/

/composer.phar
/composer.lock

/web/bundles/*

/nbproject/
/.idea/
/wiki/

src/Scheduler/SchBundle/Scripts/parameters.php
parameters.sh
*~
*.zip
build/
/auth.json

/node_modules/
/bower_components/
/database-backup.sql
