<h1>New User Registration</h1>

<h3><p>Only Referees and Schedulers need an account on this web site
at the time. To access the schedule, please click the links at the top
of the page.</p>
<p>Please don't register for account if you are not a Referee or
Scheduler. Thank you.</p></h3>


{{ form_start(form, {'action': path('fos_user_registration_register'), 'attr': {'class': 'contact'} }) }}
	{{ form_widget(form) }}
	<p>
		<button type="submit" class="btn btn-primary btn-large">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
	</p>
{{ form_end(form) }}
