{% extends 'SchedulerBundle::layout.html.twig' %}
{% block title %}Import Games{% endblock %}
{% block body %}
  <h3>Max Project Game Number is {{ projectGameNumberMax }}</h3>
  {{ form.render | raw }}
  {{ loaderResults | raw }}
  {{ saverResults  | raw }}
{% endblock %}
